*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: myFirstFont;
}

 

.nav {
    position: fixed; 
    display: flex;
    z-index: 1000;
    width: 100%;    
    background: #B19470;
    align-items: center;
    height: 100px;
    
}
.nav a{
    color : #76453B;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    font-size: 20px;

    
}
.nav a:hover{
    color: #43766C;
    
}

.nav_gif{
    height: 100px;
    position: absolute;
    right: 20px;
}
.nav_name{
    height: 100px;
    margin-left: 20px;
}

.home_pic{
    margin-top: 10px;
    height: 500px;
}
.home{
    background-color: #12372A;
}

.logo2{
    height: 150px;
    position: absolute;
    right: 20px;
    top :350px;
}

.logo1{
    height: 80px;
    left: 920px;
    top: 120px;
    position: absolute;
}

.home_p{
    color: #F8FAE5 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    left: 970px;
    top: 250px;
}
.menu{
    display: grid;
    grid-template-columns: 600px 10px;
    margin: 10px 300px;

}

.menu1{
    border: 5px double #290001;
    width: 300px;
    height: 300px;

    background-color: #290001;

}

.menu1:hover {
    background-color: #76453B;
    width: 200px;
    height: 300px;
    transition:
    width 1s,
    height 1s,
    background-color 1s,
    rotate 1s;
    rotate: 380deg;
  }

.menu_in{
    background: rgb(207,179,145);
    background: linear-gradient(90deg, rgba(207,179,145,1) 10%, rgba(177,148,112,1) 48%, rgba(141,97,88,1) 100%);
    position: relative;
    text-align: center;
    border-radius: 10% 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #290001;
}



