*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: myFirstFont;
}

 

.nav {
    position: fixed; 
    display: flex;
    z-index: 1000;
    width: 100%;    
    background: #B19470;
    align-items: center;
    height: 100px;
    
}
.nav a{
    color : #76453B;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    font-size: 20px;

    
}
.nav a:hover{
    color: #43766C;
    
}

.nav_gif{
    height: 100px;
    position: absolute;
    right: 20px;
}
.nav_name{
    height: 100px;
    margin-left: 20px;
}

.home_pic{
    margin-top: 10px;
    height: 500px;
}
.home{
    background-color: #12372A;
}

.logo2{
    height: 150px;
    position: absolute;
    right: 20px;
    top :350px;
}

.logo1{
    height: 80px;
    left: 920px;
    top: 120px;
    position: absolute;
}

.home_p{
    color: #F8FAE5 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    left: 970px;
    top: 250px;
}

.menu{
    height: 600px;
    background-color: #f4e5d4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card{
    width: 350px;
    height: 500px;
    background-image: url(pictures/menu.jpg);
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 0 20px rgb(0,0,0 , 0.4);
    transform: perspective(2000px);
    transform-style: preserve-3d;
    text-align: center;
    color: #290001;
    
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #290001;
    border-radius: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
 
}

.card:hover .cover{
    transform: rotateY(-135deg);
}

.menu_t {
    padding-top: 110px;
}
.menu_t h4{
    margin-top: 7px;
}